<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digit Recognizer</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    />

  </head>
  <body>
    <h1>Digit Recognizer</h1>
    <div class="main-container">
        <div class="left-section" >
            <canvas id="drawingCanvas"></canvas>
            <button id="clearButton">Clear</button>
        </div>
      <table >
        <thead>
          <tr>
            <th>Prediction</th>
            <th>Probability</th>
          </tr>
        </thead>
        <tbody id="resultsBody">
          <tr>
            <td colspan="2">Draw a digit to classify</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="references">
      <div>
        <a href="https://github.com/Rahul-Samedavar/DigitRecognizer"><img src="{{url_for('static', filename='assets/github.png')}}" alt=""></a>
        <a href="https://huggingface.co/spaces/Rahul-Samedavar/DoodleClassifier"><img src="{{url_for('static', filename='assets/doodle.png')}}" alt=""></a>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </body>
</html>
